.home-page {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  & .spinner-container {
    width: 10rem;
    height: 10rem;
    background-color: var(--secondary-color);
    border-radius: 50%;

    & img {
      width: 100%;
      height: 100%;
      animation: spinner 5s linear infinite;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
