* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

/* background colors are set temporarily to make visualization easier */
:root {
  background-color: rgb(216, 215, 215);

  --primary-color: rgba(0, 109, 119, 1);
  --secondary-color: rgba(255, 213, 194, 1);
  --darkgrey-color: rgba(105, 103, 103, 1);
  --lightgrey-color: rgb(2, 2, 2);
  --white-color: rgba(255, 255, 255, 1);
  --primary-active-color: rgba(0, 162, 176, 1);
  --browny-color: rgb(71, 23, 0);
  --black-color: rgb(0, 0, 0);
}

.app {
  background-color: var(--white-color);
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 430px;
  margin: 0 auto;
  overflow-y: scroll;
}

/* FONTS */
h1 {
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

h2 {
  color: #3d405b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

h3 {
  color: var(--darkgrey-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

p {
  color: var(--black-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
}

/* GENERAL BUTTON */
.button {
  display: flex;
  width: 101px;
  height: 33px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--browny-color);
  border: none;
}
