.collection {
  margin: 0.5rem 0.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & .pre-view {
    width: 33%;
    aspect-ratio: 1 / 1;
    margin-right: 0.5%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .pre-view.ai {
    display: flex;
    align-items: center;
  }

  & .pre-view:nth-child(3n) {
    margin-right: 0;
  }
}
