/* FONTS */
.materials-p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
}

.button-box p {
  color: var(--darkgrey-color);
  display: flex;
  justify-content: flex-end;
}

/* CONTAINERS */
.generated-activity-container {
  margin: 4% 8% 4% 8%;
}

/* BOXES */
.filters-box {
  background-color: #e0dfdf;
  margin: 6% 2% 5% 2%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
}
.button-box {
  display: flex;
  justify-content: space-around;
  padding: 4%;
}

/* BUTTONS */
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--lightgrey-color);
  color: rgb(17, 17, 17);
}

/* OTHER */
.list {
  font-size: 18px;
  color: var(--lightgrey-color);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
}

a {
  text-decoration: none;
}
