.header {
  position: relative;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);

  & .btn-go-back {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
  }

  & span {
    font-size: 0.8rem;
  }
}
