.feed-page {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;

  & .box-button-filter {
    display: block;
  }

  & .button-filter {
    width: 100%;
    line-height: 0.8;
    padding: 10px 24px;
    text-align: center;
    gap: 10px;
    background-color: rgba(0, 109, 119, 0.1);
    color: var(--primary-color);
    border: none;
  }

  & .button {
    margin-left: 38%;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 12px;
    height: 20px;
  }

  .no-filter-result {
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.5rem;

    & p {
      padding: 1rem 0;
      font-size: 14px;
      color: var(--lightgrey-color);
      background-color: rgba(0, 109, 119, 0.1);
      border: 1px dashed var(--primary-color);
      text-align: center;
    }

    & .btn-clear {
      padding: 0.5rem;
      color: var(--lightgrey-color);
      background-color: rgba(0, 109, 119, 0.1);
      border: none;
    }
  }
}
