.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(background-color);
  position: relative;

  & .welcome-back {
    display: flex;
    padding: 18%;

    & h2 {
      font-size: 40px;
      line-height: 50px;
      color: var(--secondary-color);
    }
  }

  & form {
    text-align: center;
  }

  & .auth {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  & .login-btn {
    width: 80%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
  }
}

.signup-btn {
  text-decoration: none;
  margin-left: 2rem;
  color: var(--primary-color);
  font-weight: 600;
}

.signup-section {
  background-color: var(--secondary-color);
  padding: 7%;
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  color: var(--darkgrey-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
