/* CONTAINERS */
.generated-activity-container {
  margin: 4% 8% 4% 8%;
}

/* BOXES */
.button-box {
  display: flex;
  justify-content: center;
  padding: 4%;
}

/* BUTTONS */
.button {
  display: flex;
  width: 101px;
  height: 33px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--secondary-color);
  color: #481700;
  border: none;
}
